html {
	font-family: "EB Garamond",  "LinuxLibertineORegular", "AseaRegular", "Times", serif; 
	line-height: 1.5em;
	color: #222;
	font-size: 14pt;
	background-color: rgba(201, 194, 183, 0.24);
}

article {
	margin: 0 3em 3em 3em;
}

footer {
	box-sizing: content-box;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin:0;
	padding:0;
	width:100vw;
	left:0; right:0; bottom:0;
	background: #582c83;
	background: radial-gradient(circle, rgba(88,44,131,1) 35%, rgba(32,21,71,1) 100%);
	height:60px;
	border-top: 3px solid #ac58ff;
	color: white;
}
footer > p, img {
	display: inline-block;
	margin: 0 35px;

}

footer > img {
	position: relative;
	bottom: -1px;
}

img.github_logo {
	display: inline-block;
	position: relative;
	bottom: -3px;
}

span.fu_motto, span.cc_license > a {
	font-family: Helvetica, sans;
	font-weight: 200;
	font-size: 12pt;
	color: white;
	display: inline-block;
	position: relative;
	bottom: 3px;
}

span.cc_license > a:hover  {
	background-color: inherit;
	color: yellow;
}

footer > p > a:hover {
	background-color: inherit;
	color: inherit;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

div.small_print {
	font-family: Helvetica, sans;
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.3;
	color: #201547;
}


body {
	margin: 0;
}

	

progress {
	width: 400px;
	height: 14px;
	margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: #a4a8aa;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}


/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #582c83, #201547 ); 
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}





article {
	background-color: white;
	border: 2px solid #201547;
	padding: 1em;
	margin-top: 1em;
}


a {
	text-decoration: none;
}

a:hover {
	background-color: yellow;
}

.ot_nav {
	margin: 1em 0 1em 0;
	font-family: Helvetica, sans;
	font-size: 14pt;
}

progress {
	width: 100%;
}

.ohco2_commentBlock {
	font-size: 85%;
}

.ohco2_commentBlock .ohco2_citableNodeContainer	{
	margin-left: 3em;	
}

.ohco2_citableNodeContainer {
	display: block;
	padding: 0.5em;
}

.cite_urn {
	color: navy;
	font-family: "Lucida Sans Typewriter", Monaco, Monospace;
}

.ohco2_tokenized > span {
	display: inline-block;
}

.cite_urn {
	display: none;
}

.ot_lineNo {
	color: maroon;
	font-size: 75%;
	width: 3em;
	display: inline-block;
}

.ot_morph {
	color: navy;
	font-weight: bold;
	padding: 20px 0 5px 5px;
	display: inline-block;
	font-size: 125%;
}

.ot_lsj_link {
	background-color: white;
	padding: 0.5em;
}



.ot_lsj_link a {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: navy;
	color: white;
	padding: 8px 10px 13px 10px;
	font-size: 150%;
	margin-bottom: 10px;
}

.ot_lsj_link_notice {
	font-family: Helvetica, sans;
	font-size: 12pt;
}

.ot_lsj_link a:hover {
	color: yellow;
}

.open-syntax-modal {
	color: #444;
	font-family: Helvetica, Sans;
	font-size: 80%;
	background-color: white;
	border: 2px solid navy;
	padding: 8px;
}
